// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// ==================================
// VARIABLES
// ==================================
// GREEN
$green-200 : #01d7da;
$green-300 : #01b3b5;
$green-400 : #028e90;
$green-500 : #026a6c;
$green-600 : #014748;
$green-700 : #012324;

// GREY
$grey-50  : #FAFAFA;
$grey-100 : #F5F5F5;
$grey-200 : #EEEEEE;
$grey-300 : #E0E0E0;
$grey-400 : #BDBDBD;
$grey-500 : #9E9E9E;
$grey-600 : #757575;
$grey-700 : #616161;
$grey-800 : #424242;
$grey-900 : #212121;

// ==================================
// GENERAL
// ==================================
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
section{
    padding: 60px 0;
}
h1, h2, h3{
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}
h1{
    font-size: 2em;
    letter-spacing: 1px;
}
h3{
    font-size: 1.2em;
}
a, button{
    outline: none;
}

// ==================================
// CUSTOM
// ==================================
h1.title{
    margin-top: 0;
    font-weight: 100;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
h2.subtitle{
    font-size: 1.6em;
    font-weight: 200;
    color: $grey-800;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.relative{
    position: relative;
}
.divider-left{
    border-left: 1px solid #ddd;
}

// ==================================
// TOPBAR
// ==================================
.topbar{
    background-color: $green-500;
}
.actions-right{
    line-height: 70px;
}
.search{
    margin-right: 40px;
}

// ==================================
// MENU
// ==================================
#navbar-vita{
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    background-color: transparent;

    .navbar-brand{ padding-top: 10px; }
    .hide-screen{ display: none; }

    ul.nav > li > a{
        color: $grey-800;
        line-height: 30px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 2px;
            width: 0;
            opacity: 0;
            background: $green-500;
            -webkit-transition: all 150ms ease;
            -moz-transition: all 150ms ease;
            -ms-transition: all 150ms ease;
            -o-transition: all 150ms ease;
        }
    }
    ul.nav > li.active > a{
        background-color: transparent;

        &:before{
            width: 100%;
            left: 0;
            opacity: 1;
        }
    }
    ul.nav > li:hover > a:before{
        width: 100%;
        left: 0;
        opacity: 1;
    }
    // ul.nav > li.open > a{background-color: $green-400; }

    ul.nav > li.open .dropdown-menu{
        border: none;
        // background-color: $green-400;
    }
    .dropdown-menu > li > a{
        color: $grey-600;
        &:hover{
            color: $grey-50;
            background-color: $green-500;
            // text-decoration: underline;
        }
    }
    .dropdown-submenu:hover > a{
        color: $grey-50;
        background-color: $green-500;
    }
}
.drop-form{
    padding: 5px 15px;
    width: 220px;

    label{
        color: $grey-50;
        font-weight: 400;
    }
}
.drop-search{
    padding: 5px 15px;
    width: 320px;
}
#navbar-top{
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    background-color: transparent;

    ul.nav > li > a{
        color: $grey-50;
        line-height: 30px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            height: 2px;
            width: 0;
            opacity: 0;
            background: #fff;
            -webkit-transition: all 150ms ease;
            -moz-transition: all 150ms ease;
            -ms-transition: all 150ms ease;
            -o-transition: all 150ms ease;
        }
    }
    ul.nav > li.active > a{
        background-color: transparent;

        &:before{
            width: 100%;
            left: 0;
            opacity: 1;
        }
    }
    ul.nav > li:hover > a:before{
        width: 100%;
        left: 0;
        opacity: 1;
    }
    ul.nav > li.open > a, ul.nav > li:hover > a {background-color: $green-400; }

    ul.nav > li.open .dropdown-menu, ul.nav > li:hover .dropdown-menu{
        border: none;
        background-color: $green-400;
    }
    .dropdown-menu > li > a{
        color: $grey-50;
        &:hover{
            background-color: transparent;
            text-decoration: underline;
        }
    }
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
// .dropdown-submenu:hover>.dropdown-menu, .dropdown:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
// ==================================
// WRAPPER
// ==================================
.bg-banner{
    position: relative;
    height: 500px;
    background: url('../images/banner.jpg') no-repeat center center;
    background-size: cover;
}
.img-feature:hover:after{
    width: 100%;
}
.img-feature:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 0;
    height: 2px;
    display: block;
    background: $green-300;
    transition: width 200ms ease-in-out;
    z-index: 1;
}
.slogan{
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 10px 25px;
    background-color: transparentize($green-500, .2);

    p{
        margin: 0;
        color: #fff;
        font-weight: 100;
        font-size: 2.6rem;
        text-transform: uppercase;

        strong{font-weight: 200;}
    }
}

.bg-videos{
    margin-top: 15px;
    background: $green-500 url('../images/bg-videos.png') no-repeat center center fixed;
    background-size: cover;
}
.list-features, .list-news{
    margin: 0;
    padding: 0;

    li{
        float: left;
        width: 100%;
        list-style: none;
        margin-bottom: 15px;

        &:hover .thumb-feature:after{ height: 100%; }
        &:hover a{ text-decoration: underline; }

        img{ margin-right: 15px; }
        a{
            color: #fff;
            display: block;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

}
.list-features h3{
    margin-top: 0;
}
.thumb-feature{
    position: relative;
    width: 180px;
    height: auto;
    float: left;

    &:after{
        position: absolute;
        top: 0;
        right: 0;
        content: " ";
        display: block;
        width: 2px;
        background: $green-300;
        height: 0;
        transition: height 200ms ease-in-out;
        z-index: 1;
    }
}
.title-feature{
    font-size: 14px;
    padding: 10px;
    margin-left: 180px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;

}
.list-news{

    h3{ color: #333; margin-top: 0; }
    p{ color: $grey-600; }
    li:hover p{ color: $green-300; }
}

footer{
    color: #fff;
    padding: 30px 0 0;
    min-height: 300px;
    background-color: $green-500;

    .ft1{font-size: 20px; }
    .ft2{font-size: 30px; display: block; }

    h1{
        opacity: .7;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 25px;
    }
    .social-links{

        a{
            opacity: .26;
            margin-right: 10px;
        }
    }
    .carousel .item{
        padding: 0 50px;
    }
    .copyright{
        padding: 15px 0;
        margin-top: 20px;
        background-color: $green-600;

        p{ line-height: 41px; }
    }
}
.carousel-control.right, .carousel-control.left{background: transparent;}

// ==================================
// MEDIAS
// ==================================
@media only screen and (max-width: 455px) {
    .slogan p{
        font-size: 1.8rem;
    }
    .list-features, .list-news{

        li .thumb-feature{
            width: 100%;
        }
        li .title-feature{
            float: left;
            margin: 0;
        }
    }
    .list-features li img{ width: 100%; }
    .list-news{
        li{
            border: 1px solid $grey-300;
            box-shadow: 0 2px 3px rgba(0,0,0,.26);

            img{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .sm-left{
        float: left;
    }
    .divider-left{
        border: none;
    }
    #navbar-vita .navbar-header {
        float: none;
    }
    #navbar-vita .collapse {
       display: none !important;
    }
    #navbar-vita .navbar-toggle, #navbar-vita .collapse.in {
        display: block !important;
    }

}
@media only screen and (max-width: 767px) {
    #navbar-top .navbar-brand {
        padding-top: 5px;
    }
    #navbar-access{ display: none; }
    #navbar-vita .hide-screen{ display: block; }
}